#snake {
    width: 608px;
    height: 608px;
  }
  
  .play {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    position: relative;
    font-size: 1rem;
    float: right;
    margin-right: 40%;
    margin-top: 10%;
    text-align: center;
    color: #EFC732;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #881F6A;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  .play:hover {
    background-color: #881f6ae3;
  }
  
  .play:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  
  .backgroud {
      wi
  }