* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#view {
    position: relative;
    width: 100%;
    height: 520px;
   /*  margin-left: 320px; */
    
    overflow: hidden;
}

#view:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

#img_list {
    position: absolute;
    width: 100%;
}

#img_list li {
    float: left;
    width: 100%;
    height: 620px;
}

/* #a {
    background: #87ceeb;
}

#b {
    background: #ff69b4;
}

#c {
    background: #98fb98;
} */
#img_list li img {
    width: 100%;
}